section.about-content {
    .container {
        padding: 20px;

        div {
            padding: 10px 0px 20px 0px;

            hr {
                border-color: $blue;
                border-color: $blue;
                width: 60%;
                margin: 0px;
            }
        }

        >div:nth-of-type(2) {
            display: flex;
            justify-content: flex-end;
        }
    }

}